#phyton {
color:cyan
}

#html {
color:orange
}

#მისალმება {
text-align: center;
}

#საკონტაქტო {
text-align: center
}

.list { 
font-size:xx-large;
}

#css { 
color:blue
}

#js {
color:chocolate
}

#cplius{
color:darkblue
}

.link {
text-align: center;
font-size: xx-large;
}