*{
    padding: 0;

}
.parent-container{
    display: flex;
    justify-content: center;
    
}

.child-container{
    width: 500px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
}
